<section id="todoapp">
  <header id="header">
    <h1>Todo APP</h1>

    <form id="todo-form"> <!-- cliquer sur entrée pour ajouter une tâche -->
      <input type="text" id="new-todo" placeholder="Ajouter une tâche" autocomplete="off" autofocus/>
      <!-- input avec le contenu de la tâche -->
    </form>
    <section id="main">
      <input type="checkbox" id="toggle-all"> <!-- Sélectionne toutes les tâches comme finies -->
      <label for="toggle-all">Tâches finies</label>
      <ul id="todo-list">
        <li *ngFor="let task of tasks" [class.completed]="task.completed">
          <div class="view">
            <label for="task">{{task.label}}</label>
            <input id="task" type="checkbox" class="toggle" [checked]="task.complete" (click)="toggleComplete(task)"/>
            <button class="destroy"></button> <!-- Bouton permettant de supprimer une tâche -->
          </div>
        </li>
      </ul>
    </section>
    <footer id="footer">
      <span id="todo-count"><strong>{{remainingTasks}} tâches restantes</strong></span>
    </footer>
  </header>
</section>
